.border{
    border:1px solid;
}

.historical {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: rgb(39, 75, 43);
    margin-top: 20px;
 }

 .religious {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(139, 139, 223);
    margin-top: 20px;
   
 }
 
 .empty {
    font-size: 16px;
    color: rgb(63, 53, 22);
    margin-top: 20px;
    
 }
 input {width: 60%; height: 30px;}
 button{width: 30%; height: 35px;
     font-size: 18px;}
 
 .highlight {
        
         background-color: rgb(180, 180, 49);
         color:rgb(189, 24, 24);
         font-family: Georgia, 'Times New Roman', Times, serif;
         font-size: 25px;
         font-weight: bold;
       }